body {
    width: auto;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(80, 225, 247);
    background-image: linear-gradient(135deg,
            rgb(31, 138, 135) 0%,
            rgb(19, 91, 136) 69%,
            rgba(20, 47, 186, 0.667) 100%);
}

.title {
    text-align: center;
    border: 2px solid #68676a;
    margin: 5px;
    color: white;
    margin-bottom: 0;
}


.score-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}


.score-box {
    color: white;
    border: 1px solid #68676a;
    padding: 5px 10px;
    margin: 5px;
    margin-top: 0;
    border-top: 0;
    flex-grow: 1;
    text-align: center;
}

.player-score-box,
.elroy-score-box {
    flex-grow: 2;
}

.rules-box {
    display: none;
}

.game-container {
    margin-top: 10px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 38px;
    margin: 15px;
}

.game-play-container {
    border: 2px solid lightgrey;
    padding: 10px;
}

.play-token-container {

    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}




.choice-container {
    display: flex;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.result-container {
    display: flex;
    height: 210px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.game-token {
    height: 75px;
    width: 75px;
    color: rgb(107, 29, 29);
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-play-token-paper {
    margin: 20px;
}


.rock-token {
    border: solid 10px #5671f5;
    background-color: #fff;
    background-image: url("images/rock.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    box-shadow: inset 0 2px 0 2px rgb(181, 180, 185), 0 3px 0 2px rgb(22, 5, 148);
}

.paper-token {
    border: solid 10px #ab56f5;
    background-color: #fff;
    background-image: url("images/paper.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    box-shadow: inset 0 2px 0 2px rgb(181, 180, 185), 0 3px 0 2px rgb(103, 5, 148);
}

.scissors-token {
    border: solid 10px #4ff6b3;
    background-color: #fff;
    background-image: url("images/scissors.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    box-shadow: inset 0 2px 0 2px rgb(181, 180, 185), 0 3px 0 2px rgb(5, 148, 122);
}


.game-outcome-container {
    border: 2px solid lightgrey;
    padding: 10px;
    margin: 50px 5px;
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.result-token-container {
    display: flex;
    margin: 15px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.result-text,
.play-text {
    font-size: 32px;
    font-weight: 800;
}

@media (max-width: 400px) {
    h2 {
        font-size: 32px;
    }

    .play-text {
        font-size: 28px;
    }
}

@media (min-width: 768px) {

    h2 {
        font-size: 48px;
    }

    .game-play-container {
        border: 0;
        padding: 0;
    }

    .play-text {
        text-align: center;
        margin: 20px 0;
    }

    .play-token-container {
        position: relative;
        background-image: url("images/plain-triangle.png");
        width: 600px;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 500px;
        padding: 5px;
    }

    .game-play-token {
        position: absolute;
        width: 100px;
        height: 100px;
    }

    .game-play-token-rock {
        top: 1px;
        left: 50%;
        transform: translateX(-60px);
    }

    .game-play-token-paper {
        left: 20px;
        bottom: 10px;
    }

    .game-play-token-scissors {
        right: 40px;
        bottom: 25px;
    }

    .game-outcome-container {
        max-width: 650px;
        margin: 50px auto;
    }

}

.hide {
    display: none;
}

.show-flex {
    display: flex;
}